.wrapper{

}

.quizQuestionArea {
    align-items: center;
    border: 1px solid grey;
    width: 100%;
    margin-bottom: 16px;
    padding: 0 32px;
}

.quizSelectionAreaWrapper {
    width: 100%;
    margin-bottom: 16px;
}

.quizSelectionArea {
    /* 配置 */
    display: flex;
    /* 外装 */
    border: 1px solid grey;
    /* 内装 */
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.wrapper {
}