.quizSelectionItem {
    /* 配置 */
    flex-grow: 1;
    display: grid;
    /* 外装 */
    border: 1px solid grey;
    max-width: 100%;
    /* 内装 */
    grid-template-rows: 48px 1fr 20px;
    text-align: center;
    /* その他 */
    user-select: none;

    .numberValue {
        grid-row: 1 / 2;
        font-size: 32px;
        height: 48px;
        background-color: #fff8f8;
        padding-bottom: 8px;
    }

    .numberShape {
        grid-row: 2 / 3;
        cursor: pointer;
        font-size: 150px;

        &.negativeNumberShape {
            color: #ffffff;
            background-color: #202020;
        }
    }

    .label {
        grid-row: 3 / 4;
        font-size: 12px;
        background-color: #e8e8e8;
        height: 20px;
    }

    &.isCorrectNumber {
        /* 一番大きい数字 */
        .numberValue {
            background-color: #ffea88;
        }
    }
}
