.fontWeightBold {
    /* 内装 */
    font-weight: bold;
}

.fontWeightBolder {
    /* 内装 */
    font-weight: bolder;
}

.fontWeightLight {
    /* 内装 */
    font-weight: lighter;
}

.fontStyleItalic {
    /* 内装 */
    font-style: italic;
}

.fontStyleOblique {
    /* 内装 */
    font-style: oblique;
}
