.messageWrapper {
    /* 配置 */
    display: inline-block;
    /* 外装 */
    border: 2px solid var(--color-border);
    border-bottom: none;
    /* 内装 */
    text-align: center;
    padding: 4px 16px;
}

.sideMessage {
    /* 配置 */
    display: inline-block;
    /* 内装 */
    text-align: left;
    margin-left: 16px;
    font-size: 0.8em;
    opacity: 0.8;
}
