/* 不正解時のアニメーション*/
.isLastAnswerIncorrect {
    animation: flashing 0.1s ease;
    background-color: var(--color-background-general);

    @keyframes flashing {
        0% {
            background-color: #ffa0a0;
        }
    }
}

.wrapper {
    /* 外装 */
    position: relative;
}

.scoreAreaWrapper {
    /* 外装 */
    position: absolute;
    top: 20px;
    right: 0;
}
