.wrapper {
    text-align: right;

    .currentScore {
        /* 外装 */
        display: inline-block;
        border: 1px solid var(--color-border);
        border-radius: 4px;
        /* 内装 */
        padding: 0 4px 0 6px;
        font-size: 24px;
        text-align: center;
    }

    .highestScore {
        /* 外装 */
        display: inline-block;
        /* 内装 */
        font-size: 12px;
        cursor: pointer;
    }
    /* 現在のゲームで最高得点を更新中のとき */
    &.overHighestScore {
        .currentScore {
            /* 内装 */
            color: #f00000;
            animation: flashing 0.5s ease;

            @keyframes flashing {
                0% {
                    background-color: #ffa0a0;
                }
            }
        }
    }
}
