.table {
    border: 1px solid var(--color-border);
}

.cell {
    border: 1px solid var(--color-border);

    &.cellLabel {
        width: 18em;
    }

    &.cellLanguage {
        width: 14em;
    }

    &.cellNumber {
        width: 3em;
        text-align: center;
    }
}
