.wrapper{
}

.quizInstructionMessageWrapper{
}

.quizExpressionArea {
    /* 配置 */
    margin-bottom: 16px;
    /* 外装 */
    border: 1px solid grey;
    width: 100%;
    /* 内装 */
    align-items: center;
    padding: 0 32px;
}

.quizSelectionAreaWrapper {
    /* 配置 */
    margin-bottom: 16px;
    /* 外装 */
    width: 100%;
}

.quizSelectionArea {
    /* 配置 */
    display: flex;
    /* 外装 */
    border: 1px solid grey;
    /* 内装 */
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
