.quizSelectionItem {
    /* 配置 */
    display: grid;
    flex-grow: 1;
    /* 外装 */
    border: 1px solid grey;
    max-width: 100%;
    /* 内装 */
    grid-template-rows: 48px 1fr 24px;
    text-align: center;
    /* その他 */
    user-select: none;

    .numberValue {
        /* 配置 */
        grid-row: 1 / 2;
        /* 外装 */
        height: 48px;
        /* 内装 */
        font-size: 32px;
        background-color: #fff8f8;
        padding-bottom: 8px;
    }

    .numberShape {
        /* 配置 */
        grid-row: 2 / 3;
        /* 内装 */
        cursor: pointer;
        font-size: 150px;
    }

    .label {
        /* 配置 */
        grid-row: 3 / 4;
        /* 外装 */
        height: 24px;
        /* 内装 */
        font-size: 16px;
        background-color: #e8e8e8;
    }

    &.isBiggestNumber {
        /* 一番大きい数字 */
        .numberValue {
            /* 内装 */
            background-color: #ffea88;
        }
    }
}
