.wrapper{
}

.quizInstructionMessageWrapper {
}

.quizSelectionArea {
    /* 配置 */
    display: flex;
    margin-bottom: 16px;
    /* 外装 */
    border: 1px solid var(--color-border);
    width: 100%;
    /* 内装 */
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
